<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">


    <title>Karp!E Diem</title>
</head>
<body>
    <section class="hero">
        <!-- Hero head: will stick at the top -->
        <div id="container">
                <div id="about">
                    <a href="/about">ABOUT</a>
                </div>
                <div id="contact">
                    <a href="/contact">CONTACT</a>
                </div>
                <div id="banner">
                    <img src="/images/2ndheader.png" alt="Karp!E Diem Photo">
                </div>
                <div id="login">
                  {{#if loggedIn}}
                  <a href="/homepage">Homepage</a>
                  <button id="logout" class="button is-primary">LOG-OUT</button>
                  {{else}}
                  <button class="button is-black">
                    <a href="/login">LOG-IN</a></button>
                  {{/if}}
                </div>
                
        </div>
    
      </section>
    <main class="main-body">
          {{{body}}}
    </main>
  
  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>