<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">


    <title>Karp!E Diem</title>
</head>
<body>
    <section class="hero is-fullheight">
        <!-- Hero head: will stick at the top -->
        <div id="container">
                <div id="about">
                    <a href="/about">ABOUT</a>
                </div>
                <div id="contact">
                    <a href="/contact">CONTACT</a>
                </div>
                <div id="banner">
                    <img src="/public/images/2ndheader.png" alt="Karp!E Diem Photo">
                </div>
        </div>
    <main class="main-body">
          {{{body}}}
    </main>
  
  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>