<div class="hero-body">
            <div class="container is-fluid">
                <section class="karp">
                    <p class="title">About</p>

                    <div class="container">
                        Are you the very best, like no one ever was?<br>
                        Have you traveled across the land, have you searched far and wide for adventure?<br>
                        Then maybe you wanna prove it and boast it to your pals!
                        Take that amigos! that'll learn 'em all!<br><br>

                        Sieze the Day, Flex on them average Joe's, earn Karp,<br>
                        and show everyone who has the most interesting life.<br>
                        Collect more Karp than your friends and prove once and for all <br>
                        you're the baddie in your friend group.<br>
                        Sheesh!<br>
                    </div>
                </section>
            </div>
</div>