 <div class="container">
        <h2 class="title">Contact Us</h2>
        <form method="post">
            <div class="field">
                <label for="name" class="label"></label>
                <div class="control has-icons-left">
                    <input type="text" name="name" id="name" class="input" placeholder="Name" autofocus>
                </div>
            </div>
            <div class="field">
                <label for="email" class="label"></label>
                <div class="control has-icons-left">
                    <input type="email" name="email" id="email" class="input" placeholder="Email">
                </div>
            </div>
            <div class="field">
                <label for="message" class="label"></label>
                <textarea name="message" id="message" rows="5" class="textarea" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="button">Submit</button>
        </form>
    </div>