<p>{{data}}</p>

<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <p class="bd-notification is-info"><a href="/login">LOGIN/SIGN-UP</a></p>
    <input href="" type="image" class="image" src="/images/magikarp1.1.png" alt="Logo">
    <div class="columns is-mobile"></div>
<div class="column">
    <p class="bd-notification is-info"><a href="/about">ABOUT</a></p>
  <input type="image" class="image" src="/images/magikarp2-1.png" alt="Logo">
  <div class="columns is-mobile"></div>
</div>
</div>
<div class="column">
    <p class="bd-notification is-info">
      <a href="/highscores">HIGH SCORES</a>
      </p>
  <input type="image" class="image" src="/images/magikarp4.png" alt="Logo">
  <div class="columns is-mobile"></div>
<div class="column">
    <p class="bd-notification is-info">
      <a href="/contact">CONTACT</a>
    </p>
  <input type="image" class="image" src="/images/magikarp3-1.png" alt="Logo">
  <div class="columns is-mobile"></div>
</div>
</div>
</div>