<p>{{data}}</p>

<div class="columns is-multiline is-mobile">
  <div class="column is-half">
    <p class="bd-notification is-info"><a href="/login">LOGIN/SIGN-UP</a></p>
    <div class="image1"><input
      type="image"
      class="image"
      src="/images/magikarp1.1.png"
      alt="Logo"
    /></div> 
    </div>
      <div class="column is-half">
    <p class="bd-notification is-info">
      <a href="/highscores">HIGH SCORES</a>
    </p>
    <div class="image1 is"><input type="image" class="image" src="/images/magikarp4.png" alt="Logo" /></div>
    </div>
    <div class="column is-half">
      <p class="bd-notification is-info"><a href="/about">ABOUT</a></p>
      <div class="image1"><input
        type="image"
        class="image"
        src="/images/magikarp2-1.png"
        alt="Logo"
      /></div>
    </div>
    <div class="column is-half">
      <p class="bd-notification is-info">
        <a href="/contact">CONTACT</a>
      </p>
      <div class="image1"><input
        type="image"
        class="image"
        src="/images/magikarp3-1.png"
        alt="Logo"
      /></div>
    </div>
</div>