<p>{{data}}</p>

<div class="columns">
  <div class="column">
    <p class="bd-notification is-info"><a href="/api/prompt">PLAY</a></p>
    <input href="" type="image" class="image" src="/images/magikarp1.1.png" alt="Logo">
    <div class="columns is-mobile"></div>
<div class="column">
    <p class="bd-notification is-info">REVIEWS</p>
  <input type="image" class="image" src="/images/magikarp2-1.png" alt="Logo">
  <div class="columns is-mobile"></div>
</div>
</div>
<div class="column">
    <p class="bd-notification is-info">
      <a href="/highscores">HIGH SCORES</a>
      </p>
  <input type="image" class="image" src="/images/magikarp4.png" alt="Logo">
  <div class="columns is-mobile"></div>
<div class="column">
    <p class="bd-notification is-info">
      <a href="https://github.com/Sergioloman/FullStack.Team3">GITHUB</a>
    </p>
  <input type="image" class="image" src="/images/magikarp3-1.png" alt="Logo">
  <div class="columns is-mobile"></div>
</div>
</div>
</div>