<h1> random prompt</h1>
<p id='randomPrompt'></p>
<ul>
{{#each dbscores}}
<li></li>
{{/each}}
</ul>

<button id="yesbtn" type="button">YES!</button>

<button id="nobtn" type="button">Nope :|</button>
