<h1 id='randomPrompt'></h1>
<ul>
{{#each dbscores}}
<li></li>
{{/each}}
</ul>
<button id="replaybtn" type="button">Play again!</button>


<button id="yesbtn" type="button">YES!</button>

<button id="nobtn" type="button">Nope :|</button>
