body {
    background: #000;
    font-family: monospace;
    color: #fff;
}

.title {
    font-family: monospace;
}

#container {
    padding-top: 50px;
}

.field {
    border: dashed 2px #018FFE;
}

.karp {
    border: dashed 2px #018FFE;
    background-color: #000;
    text-align: center;
    margin: auto;
}

p {
text-align: center;
}

#login #logout{
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 6.25%;
    margin-top: 5px;
    border: dashed 2px #018FFE;
}

#banner {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    width: 600px;
}

#content {
    width: 100%;
    margin-top: 50px;
}

#fish {
    width: 200px;
    height: 100px;
    border: dashed 2px #018FFE;
}

.hero {
background-color: #000;
display: block;

}

.columns {
    width: 100%;
    margin-top: 70px;
}

.column {
    padding: 30px 0;
}

.image {
    width: 300px;
    height: 180px;
}

.image1 {
    width: 400px;
    border: dashed 2px #018FFE;
}

div { 
    display: block;
}

.submit {
    border: dashed 2px #018FFE;
}